doctype html
html(lang="ja")
  head
    title learn WebGL
    link(rel="stylesheet" href="css/main.css")
  body
    .note
      h1.note__title first step
      p.note__summary
        |WebGLの描画と、三角形の描画まで。
    canvas#webgl-contents
    script(src="js/001.js")
