doctype html
html(lang="ja")
  head
    title learn WebGL
    link(rel="stylesheet" href="css/main.css")
  body
    .note
      h1.note__title second step
      p.note__summary
        |描画プリミティブ、描画メソッドのテスト。
    canvas#webgl-contents
    script(src="js/002.js")
