doctype html
html(lang="ja")
  head
    title learn WebGL
    link(rel="stylesheet" href="css/main.css")
  body
    .note
      h1.note__title draw cube
      p.note__summary
        |座標変換を実装し、立方体を描画する。
    canvas#webgl-contents
    script(src="js/003.js")
