doctype html
html(lang="ja")
  head
    title learn WebGL
    link(rel="stylesheet" href="css/main.css")
  body
    .note
      h1.note__title
        |lighting
      p.note__summary
        |ライティングの基礎
    canvas#webgl-contents
    script(src="js/004.js")
