doctype html
html(lang="ja")
  head
    title learn WebGL
    link(rel="stylesheet" href="css/main.css")
  body
    .note
      h1.note__title
        |flat shading
      p.note__summary
        |ライティングの発展。フラットシェーディングの実践。
    canvas#webgl-contents
    script(src="js/005.js")
