@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: #fff;
  font-family: 'Noto Sans Japanese', sans-serif;
  background-color: #222;
  &.white-bg {
    color: #222;
    background-color: #fff;
  }
}
a {
  color: #fff;
  transition: 0.3s;
}
.index {
  padding: 40px 20px;
  &__title {
    margin: 0 0 40px;
    font-size: 42px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 6px;
  }
  &__list {
    max-width: 300px;
    margin: 0 auto;
    letter-spacing: 2px;
    li {
      margin-top: 1em;
    }
  }
}
canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.note {
  position: absolute;
  top: 20px;
  left: 20px;
  &__title {
    margin: 0;
    font-weight: 100;
    letter-spacing: 4px;
  }
  &__summary {
    margin: 1em 0 0;
    letter-spacing: 2px;
  }
}
